html{
  font-size: 100%;
}
body{
  margin: 0;
  font-size: 1.125em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
}
#page-wrapper {
  position: relative;
  font-family: 'Dancing Script', cursive;
}
#header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  height: 5.625em;
  z-index: 9999;
}
#logo-img {
  width: 100%;
  height: 100%;
  max-width: 9.375em;
}
#nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  font-weight: bold;
}
nav > ul {
  width: 60vw;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.nav-link {
 padding: 0 1.250em;
 text-decoration: none;
 color: black;
}
.nav-link:hover {
  text-decoration: underline;
  color: black;
}
.apartments {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  text-align: center;
  padding: 0.75em;
  padding-top: 2.5em;
}
.text-apartments {
  display: flex;
  justify-content: center;
  flex-direction: column;
}  
.apartments-dscr {
  text-align: justify;
  padding: 0 4em 1.875em 4em;
}
.lista {
  list-style-type:none;
}
.name {
  background-color: #826142;
  padding: 0.5em;
  text-align: right;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2em;
}
.dsc {
  float:  left;
  padding: 1.5em;
  text-align: center;
}
.grid {
  flex-direction: column;
  padding: 0.75em;
}
.detail {
  align-items:center;
  display: flex;
  padding: 1em;
}
.nalov-detalja {
  padding: 0.75em;
  font-family: 'Dancing Script', cursive;
  font-size: 1.75em;
}
.carousel {
  padding: 0 4em;
}
.apartment_name {
  padding: 0 4em;
}
.opis {
  display: flex;
  flex-direction: column;
  padding: 2em;
}